
{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<style>
.container{
    padding: 0;
    margin: 0 auto;


}
.container a{
    width: 45%;
    max-width: 250px;

}
.container div {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.container img {
  width: 100%;
  border-radius: 1rem;
}




</style>
{% if article_list %}
<div class="container">
    {% for article in article_list %}
    <a href="{% url 'articleapp:detail' pk=article.pk %} ">
        {% include 'snippets/card.html' with article=article %}
    </a>
    {% endfor %}
</div>
<script src="{% static 'js/magicgrid.js' %}"></script>
{% else %}
    <div class="text-center">
        No Articles YET !
    </div>

{% endif %}
{% include 'snippets/pagination.html' with page_object=page_object %}

<div style="text-align: center">
    <a href="{% url 'articleapp:create' %}" class="btn btn-primary rounded-pill px-2 mt-3 mb-3">
        Create Article
    </a>
</div>


{% endblock %}
